<h2> <%= @greeting %></h2>

<%= form_tag("/search", method: "post") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:base_word) %>
  <%= submit_tag("Submit") %>
<% end %>

<p> <%= @found %> </p>
